{% extends 'base.html' %}

{% block title %}Appointment List{% endblock %}

{% block content %}

<h1>Scheduled Appointments</h1>
<table>
    <thead>
        <tr>
            <th>Service</th>
            <th>Date</th>
            <th>vehicle</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.service }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.vehicle }}</td>
            <td>{{ appointment.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Schedule a New Appointment</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Appointment</button>
</form>
{% endblock %}
