{% extends 'base.html' %}

{% block title %}Product List{% endblock %}

{% block content %}
<h1>Product List</h1>

<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" width="50">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ product.name }}</td>
            <td>KES{{ product.price }}</td>
            <td><a href="{% url 'edit_product' product.id %}">Edit</a></td>
            <td><a href="{% url 'delete_product' product.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Add New Product</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Product</button>
</form>
{% endblock %}
